body {
  background-color: black;
  background-size: cover; /* This will cover the entire background */
  /*background-repeat: no-repeat;  This prevents the image from repeating */
  background-attachment: fixed; /* This will keep the background fixed when scrolling */
  background-position: center center;
  font-family: "Caveat", cursive;
  font-family: "Onest", sans-serif;
  font-family: "Poppins", sans-serif;
}

h1 {
  font-size: 4vw;
  margin-bottom: 2vh;
}

body {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-size: 2vw;
  color: white;
  border: 30px white solid;
  padding: 100px;
  border-radius: 10%;
  transition: border-width 0.1s; /* Add a transition effect for border width */
}

body:hover {
  border-width: 10px; /* Increase border width on hover */
}

#email,
#name {
  width: 1000px;
}

#email,
#name {
  width: 100%; /* This will make the input fields fill their parent container */
  padding: 10px; /* Adding some padding for spacing */
  margin-bottom: 10px; /* Adding margin for separation between elements */
}

#email,
#name,
body > form > input[type="submit"]:nth-child(9) {
  position: relative;
  text-align: center;
  font-size: 1.5vw;
  width: 7vw;
  height: 1.5vw;
}

label,
input {
  display: block;
  margin-bottom: 10px; /* Adjust this value as needed */
}

/* #name {
  position: relative;
  width: 100%;
  align-items: center;
} */

#name,
#email,
#experience {
  display: block;
  margin: 0 auto;
  width: 75%;
  font-size: 1.5vw;
}

#email {
  margin-bottom: 10px;
}
input[type="submit"] {
  margin-top: 100px;
  display: block;
  margin: 0 auto;
  width: 32.5%;
  font-size: 1.5vw;
}

/* Styles for medium-sized screens (min-width: 768px) */
@media (min-width: 768px) {
  body {
    font-size: 1.5vw;
  }

  h1 {
    font-size: 3vw;
    margin-bottom: 1.5vh;
  }

  label,
  input {
    margin-bottom: 8px;
  }

  #email,
  #name {
    padding: 8px;
  }

  body > form > input[type="submit"] {
    font-size: 1.2vw;
  }
}
/* Styles for large screens (min-width: 1200px) */
@media (min-width: 1200px) {
  body {
    font-size: 1.2vw;
  }

  h1 {
    font-size: 2.5vw;
    margin-bottom: 1vh;
  }

  label,
  input {
    margin-bottom: 6px;
  }

  #email,
  #name {
    padding: 6px;
  }

  body > form > input[type="submit"] {
    font-size: 1vw;
  }
}

/* header {
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  transition: top 1s;
  z-index: 1000;
}

header.show {
  top: 0;
}

header p {
  margin: 0;
}

@keyframes slideIn {
  from {
    top: -100px;
  }
  to {
    top: 0;
  }
} */
