body {
  background-image: url("elements/background.jpg");
  background-size: cover; /* This will cover the entire background */
  /*background-repeat: no-repeat;  This prevents the image from repeating */
  background-attachment: fixed; /* This will keep the background fixed when scrolling */
  background-position: center center;
}

#form {
  font-size: 500px;
}
